.boardWrapper {
    width: 80%;
    margin: auto;
}
.headTitle{
    font-size: 24px;
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 1rem;
    margin: 0 0 2rem 0;
    color: #3c4790;
    text-align: center;
}

.table {
    width: 80%;
    margin: auto;
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: #3c4790;
}
.table th {
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #3c4790;
}
.table td {
    font-family: '굴림', Gulim;
    font-size: 14px;
    text-overflow: ellipsis;
    border-top: 1px solid #eee;
    padding: 0.3rem 0 0.3rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.colNo{
    width: 10%;
    text-align: center;
}
.colTitle{
    width: 65%;
    cursor: pointer;
}
.colWriter{
    width: 15%;
    text-align: center;
}
.colDate {
    width: 10%;
    text-align: center;
}
.boardButtons{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.boardButton{
    margin: 1.5rem 0 1.5rem 1rem;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    border : 1px solid #3c4790;
    background-color: #4a57a8;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.boardWriteButton:hover{
    background-color: #282e57;
}
.formContents{
    width: 100%;
    margin: 1rem 0 1rem 0;
}

.formData {
    display: block;
    width: 80%;
    margin: auto;
    font-size: 1.3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.writeContents{
    height: 15rem;
    resize: vertical;
}

.boardContentsWrapper{
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.boardTitle {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}
.boardContentHeader{
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
}
.boardUser {
    font-size: 0.9rem;
}
.boardDate {
    font-size: 0.9rem;
}
.boardDate::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #ccc;
    margin: 0 10px 0 6px;
}
.boardContents {
    min-height: 23rem;
    max-width: 100%;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}